@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Roboto:wght@300&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgba(0, 0, 0, 0.95);
}

.popover {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 55%;
    background-color: #fff;
    margin: 50px;

    padding: 50px;

}

.container-fluid {

    position: absolute;
    margin-top: -270px;
    margin-left: -10px;
    /*background-color: #023047;*/
    color: black;
    font-family: 'Roboto', sans-serif;
    padding: 0px;
    text-align: center;


}

.slider {
    width: 800px;
    height: 200px;
    overflow: hidden;
    border-radius: 10px;
}

.slider-images {
    width: 450%;
    height: 400px;
    display: flex;


}

.slider-images input {
    display: none;
}

.image {
    width: 100%;

    transition: 2s;
    border-radius: 10%;
    background-color: #ffff;
}

.image img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.nav-manual {
    position: absolute;
    width: 800px;
    margin-top: -300px;
    margin-left: -280px;
    display: flex;
    justify-content: center;

}

.manual-btn {
    /* border: px solid #ff0000 ;*/
    border: 1px solid white;
    padding: 5px;
    /*width: 50px;
 height: 50px;*/
    border-radius: 40px;

    cursor: pointer;
    transition: 1s;
    color: black;
}

.manual-btn:not(:last-child) {

    margin-right: 5px;
}

.manual-btn:hover {
    background-color: #ff0000;
    color: white;
}

#btn1:checked~.first {
    margin-left: 7%;
}

#btn2:checked~.second {
    margin-left: -3%;
}

#btn3:checked~.third {
    margin-left: -17%;
}

#btn4:checked~.fourth {
    margin-left: -33%;
}

#btn5:checked~.fifth {
    margin-left: -55%;
}

#btn6:checked~.sixth {
    margin-left: -86%;
}

#btn7:checked~.seven {
    margin-left: -134%;
}

#btn8:checked~.eight {
    margin-left: -210%;
}

#btn9:checked~.nine {
    margin-left: -365%;
}

#btn10:checked~.ten {
    margin-left: -825%;
}


.nav-auto {
    position: absolute;
    margin-top: 100px;
    margin-left: -280px;
    width: 800px;
    display: flex;
    justify-content: center;

}

.nav-auto div {
    border: 1px solid white;
    padding: 5px;
    border-radius: 40px;
    transition: 1s;

}

.nav-auto div:not(:last-child) {
    margin-right: 5px;
}

#btn1:checked~.nav-auto .auto-btn1 {
    background-color: #ff0000;
}

#btn2:checked~.nav-auto .auto-btn2 {
    background-color: #ff0000;
}

#btn3:checked~.nav-auto .auto-btn3 {
    background-color: #ff0000;
}

#btn4:checked~.nav-auto .auto-btn4 {
    background-color: #ff0000;
}

#btn5:checked~.nav-auto .auto-btn5 {
    background-color: #ff0000;
}

#btn6:checked~.nav-auto .auto-btn6 {
    background-color: #ff0000;
}

#btn7:checked~.nav-auto .auto-btn7 {
    background-color: #ff0000;
}

#btn8:checked~.nav-auto .auto-btn8 {
    background-color: #ff0000;
}

#btn9:checked~.nav-auto .auto-btn9 {
    background-color: #ff0000;
}

#btn10:checked~.nav-auto .auto-btn10 {
    background-color: #ff0000;
}